amqp==2.2.1
apipkg==1.4
appdirs==1.4.3
beautifulsoup4==4.6.0
billiard==3.5.0.3
celery==4.1.0
certifi==2017.7.27.1
chardet==3.0.4
contextlib2==0.5.5
execnet==1.4.1
idna==2.6
kombu==4.1.0
mock==2.0.0
path.py==10.4
pbr==3.1.1
psycopg2==2.7.3.1
py==1.4.34
py-postgresql==1.2.1
pyparsing==2.2.0
pytest==3.2.2
pytest-shutil==1.2.11
python-dateutil==2.6.1
pytz==2017.2
requests==2.18.4
six==1.11.0
urllib3==1.22
vine==1.1.4
virtualenv==15.1.0
vk==2.0.2
